{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="{{ (printf "%scss/index.css" (.Site.Params.staticPath | default "")) | relURL }}" media="all">
<link rel="stylesheet" href="{{ (printf "%scss/projects.css" (.Site.Params.staticPath | default "")) | relURL }}" media="all">

<!-- fontawesome -->
<script defer src="{{ (printf "%sfontawesome-6/all-6.4.2.js" (.Site.Params.staticPath | default "")) | relURL }}"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/experience.html" . -}}
{{- partial "sections/education.html" . -}}
{{- partial "sections/achievements.html" . -}}
{{- partial "sections/projects.html" . -}}
{{- partial "sections/cards.html" (dict "site" . "id" "writeups" "cfg" .Site.Params.writeups) -}}
{{- partial "sections/cards.html" (dict "site" . "id" "runbooks" "cfg" .Site.Params.runbooks) -}}
{{- partial "sections/cards.html" (dict "site" . "id" "notes" "cfg" .Site.Params.notes) -}}
{{- partial "sections/contact.html" . -}}
{{ end }}
